<% provide(:title, "Edit user") %> 
<h2>Update your profile</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %> <span class="timestamp">Login name. Must be unique.</span>
      <%= f.text_field :name %>

      <%= f.label :screenname %> <span class="timestamp">This is the name that other users will see.</span>
      <%= f.text_field :screenname %>

      <%= f.label :email %> <span class="timestamp">Optional</span>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>
