<% provide(:title, @room.room_name) %>


<div class="row">
  <aside class="span3">
    <section>
      <h2>
        <%= @room.room_name %>
      </h2>
      
     
      
      <% if signed_in? %>
         
         <%= link_to "Generate invitation URL", new_invitation_path(@room.id) %>
         <br><br>
         
      <% end %>

	

    

</section>
       <h2>Members</h2>
       <% if @users.any? %>
         <ul class="users">
           <%= render @users %>
         </ul> 
       <% end %>
     


  </aside>



  <div class="span8">

    
    

    <%= form_for @post, :url => { :controller => :posts, 
                         	   :action => :create, 
                         	   :target_room_id => @room.id } do |f| %>
      

      <%= f.text_area :content, :size => "20x5" %>


      <%= f.submit "Create new post", class: "btn btn-large btn-primary" %>
    <% end %>

  

    <% if @room.posts.any? %>
      
      <ul class="posts">
        <%= render @posts %>
      </ul>
    <% else %>
      <h5>No posts yet</h5>
    <% end %>
  </div>
</div>


