<li>
  
  <b><%= User.find(post.user_id).screenname %></b>

  <% if @show_rooms_for_post %>
    in <b><%= Room.find(post.room_id).room_name %></b>
  <% end %>

  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  
  
  
  <% if current_user?(User.find(post.user_id)) %> |
    <%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
  <% end %>
  <%= post.url%><br>
  <% if post.url %>

  
  <% end %>
  <%= post.content %>

  
  <br>

  <% if post.comments.any? %>
    <%= render post.comments %>
  <% end %><br>

  <%= form_for :comments, :url => { :controller => :comments, 
                         	    :action => :create, 
                         	    :target_post_id => post.id } do |f| %>

    
    <%= f.text_area :content, :size => "20x1" %>

    <%= f.submit "Post comment" %>
  <% end %>

  
</li>
